<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Smart Auction Bidding</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link th:href="@{/img/logo.svg}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Inter:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/lib/bootstrap-icons/bootstrap-icons.css}">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/button/styles/buttons.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">


</head>

<body>
<div class="main-wrapper bg-white">
    <div th:insert="header :: my-header"></div>

    <!-- Page Header Start -->


    <div class="main bg-white">
        <div class="container-fluid m-0 p-0">
            <div class="mw-1200px mx-auto py-5 bg-light d-flex align-items-center">

                <div class="row w-100 m-0 px-4 px-lg-5 py-lg-4">
                    <div class="col-lg-6 m-0">
                        <h2 class="text-secondary animated lh-1">
                            <span class="text-primary text-uppercase h1">Bidding</span> of yours
                        </h2>
                    </div>
                    <div class="col-lg-6 m-0 text-lg-end my-auto">


                    </div>

                </div>

            </div>
            <div class="mw-1200px pt-5 pb-4 mx-auto my-0">
                <p class="text-secondary fs-7 fw-light"
                   th:if="${#lists.isEmpty(bids)}">
                    You have not created any auction yet.</p>
                <div class="table-responsive vh-75" th:if="!${#lists.isEmpty(bids)}">
                    <table class="table table-hover fs-6 ">
                        <thead class="bg-light text-primary position-sticky top-0 start-0 end-0"
                               style="z-index: 5">
                        <tr>
                            <th>Product Name</th>
                            <th class="d-none d-md-table-cell">Your Bidding</th>
                            <th class="d-none d-md-table-cell">Time Left</th>
                            <th class="d-none d-md-table-cell">Product Status Bidding</th>
                            <th class="d-none d-md-table-cell">Action</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="bid : ${bids}" th:href="@{/user/bidding}">

                            <td id="getProductName" th:text="${bid.auction.product.productName}"></td>
                            <td class="d-none d-md-table-cell" th:text="${'$' + #numbers.formatDecimal(bid.bidPrice,1,'COMMA',2,'POINT')}"></td>
                            <td>
                                <div class="js-auction-timer my-2">
                                    <input class="js-auction-finish-time" type="hidden"
                                           th:value="${bid.auction.finishTime}">
                                    <div class="js-auction-time-left fw-bold fs-6" style="color: #D41E3F"></div>
                                </div>
                            </td>
                            <td class="d-none d-md-table-cell"
                                th:with="listBid=${bid.auction.bidList}"
                                th:text="${listBid.get(bid.auction.bidList.size()-1).bidPrice == bid.bidPrice} ? 'WIN' : 'LOSE'"></td>
                            <td>
                                <a style="text-decoration: none;"
                                   th:href="@{/auctions/detail-auction/{id}(id = ${bid.auction.auctionID})}">
                                    <button type="button" class="btn btn-primary">Go to Auction</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>


        </div>


    </div>
    <div  th:insert="footer :: my-footer"></div>

</div>


<!-- Footer Start -->



<!-- Footer End -->

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
<script></script>

</body>

</html>