<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Smart Auction - My Sold Items</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:href="@{/img/logo.svg}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">


    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/lib/bootstrap-icons/bootstrap-icons.css}">


    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.theme.default.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/button/styles/buttons.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="main-wrapper">
    <div class="sticky-top" th:insert="header :: my-header"></div>

    <div class="container">
        <main class="content">
            <h1 class="text-secondary">My Items Sold</h1>
            <p class="text-secondary fs-6" style="text-align: center"
               th:if="${#lists.isEmpty(products)}">
                You have no products for sale!</p>
            <div class="mw-1200px mx-auto" th:if="!${#lists.isEmpty(products)}">
                <div class="table-responsive vh-75">
                    <table class="table table-hover my-0">
                        <thead>
                        <tr>
                            <th class="border-0 bg-light">PRODUCT NAME</th>
                            <th class="border-0 bg-light">TIME</th>
                            <th class="border-0 bg-light">PRICE</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${products}">
                            <td>
                                <div class="d-flex align-items-center" th:each="img, imgState : ${#strings.arraySplit(product.listImage, ' ')}" th:if="${imgState.index==0}">
                                    <div class="ratio-1x1 ratio avatar-xl">
                                        <img th:src="@{${img}}" alt="" width="70" class="op-center of-cover">

                                    </div>
                                    <div class="ml-name d-inline-block align-middle">
                                        <h5 class="mb-0"><a href="#" class="text-dark d-inline-block align-middle" th:text="${product.productName}"></a></h5>
                                    </div>
                                </div>
                            </td>
                            <td th:text="${#temporals.format(product.cartDetail.bid.bidTime, 'HH:mm:ss dd/MM/yyyy')}"></td>
                            <td th:text="${'$' + #numbers.formatDecimal(product.cartDetail.bid.bidPrice,1,'COMMA',2,'POINT')}"></td>


                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>


        </main>
    </div>



    <div th:insert="footer :: my-footer"></div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>

</body>
</html>