<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>F.Auction - Auction Now!</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <!--    <link href="img/favicon.ico" rel="icon">-->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{css/style.css}" rel="stylesheet">

</head>

<body>

<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div class="container-fluid top-bar bg-dark text-light px-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="row gx-0 align-items-center d-none d-lg-flex">
        <div class="col-lg-6 px-5 text-start">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="small text-light" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="small text-light" href="#">Career</a></li>
                <li class="breadcrumb-item"><a class="small text-light" href="#">Terms</a></li>
                <li class="breadcrumb-item"><a class="small text-light" href="#">Privacy</a></li>
            </ol>
        </div>
        <div class="col-lg-6 px-5 text-end">
            <small>Follow us:</small>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn-lg-square text-primary pe-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav style="background-color: #1E1916" class="navbar navbar-expand-lg navbar-dark fixed-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
    <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
        <h1 class="text-primary m-0">F.Auction</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto p-4 p-lg-0">
            <a href="index.html" class="nav-item nav-link active">Home</a>
            <a href="about.html" class="nav-item nav-link">About</a>
            <a href="service.html" class="nav-item nav-link">Services</a>
            <a href="product.html" class="nav-item nav-link">Products</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu m-0">
                    <a href="team.html" class="dropdown-item">Our Team</a>
                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                    <a href="success.html" class="dropdown-item">404 Page</a>
                </div>
            </div>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
        <div class=" d-none d-lg-flex">
            <div class="flex-shrink-0 btn-lg-square border border-light rounded-circle">
                <i class="fa fa-phone text-primary"></i>
            </div>
            <div class="ps-3">
                <small class="text-primary mb-0">Call Us</small>
                <p class="text-light fs-5 mb-0">+012 345 6789</p>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->

<!-- Page Header Start -->
<div class="container-fluid page-header2 py-6 wow fadeIn" data-wow-delay="0.1s" style="height: 900px">
    <div class="container text-center pt-5 pb-3">
        <div class="container-xxl py-6" style="margin-top: -100px">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <p class="text-primary text-uppercase mb-2">~ Get Account Now ~</p>
                    <h1 class="display-6 mb-4" style="color: white">Sign Up</h1>
                </div>
                <div class="row g-0 justify-content-center">
                    <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                        <form th:action="@{/signUp}" th:object="${user}" method="post" enctype="multipart/form-data">
                            <div class="row g-4">

                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input style="background: rgba(255,255,255,0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);" type="text" th:field="*{account.username}" class="form-control" id="account" placeholder="Your Email">
                                        <p class="form-message" style="color: red" th:if="${#fields.hasErrors('account.username')}" th:errors="*{account.username}">Name Error</p>
                                        <label for="account">User Name</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input style="background: rgba(255,255,255,0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);" type="password" th:field="*{account.password}" class="form-control" id="password" placeholder="Your Email">
                                        <p class="form-message" style="color: red" th:if="${#fields.hasErrors('account.password')}" th:errors="*{account.password}">Name Error</p>
                                        <label for="password">Password</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input style="background: rgba(255,255,255,0.4);border: none;position: relative;display: block;outline: none;color: #333;-webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);" type="text" th:field="*{fullname}" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                        <span class="form-message" style="color: red" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input style="background: rgba(255,255,255,0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);" type="text" th:field="*{email}" class="form-control" id="e-mail" placeholder="Your Email">
                                        <p class="form-message" style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</p>
                                        <label for="e-mail">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input style="background: rgba(255,255,255,0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);" type="text" th:field="*{phoneNumber}" class="form-control" id="phone" placeholder="Your Email">
                                        <label for="phone">Phone Number</label>
                                        <p class="form-message" style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</p>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input style="background: rgba(255,255,255,0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);" type="date" th:field="*{dayOfBirth}" class="form-control" id="dayOfBirth">
                                        <label for="phone">Day Of Birth</label>
                                        <p class="form-message" style="color: red" th:if="${#fields.hasErrors('dayOfBirth')}" th:errors="*{dayOfBirth}"></p>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select style="background: rgba(255,255,255,0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
padding-top: 10px;" th:field="*{gender}" class="form-control">
                                            <option th:value="'MALE'">Male</option>
                                            <option th:value="'FEMALE'">Female</option>
                                            <option th:value="'OTHER'">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input style="background: rgba(255,255,255,0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);" type="text" th:field="*{idCard}" class="form-control" id="id-card" placeholder="Your ID Card">
                                        <p class="form-message" style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}">Name Error</p>
                                        <label for="id-card">ID Card</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input style="background: rgba(255,255,255,0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);" type="text" th:field="*{address}" class="form-control" id="address" placeholder="Your Address">
                                        <p class="form-message" style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                                        <label for="address">Address</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label style="margin-right: 300px; color: #EAA636;" for="image" >Upload Image</label>
                                    <input style="background: rgba(255,255,255,0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);" type="file" name="file" id="file" class="form-control"/>
                                    <input style="background: rgba(255,255,255,0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;color: #333;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);" type="hidden" th:field="*{image}" class="form-control" id="image">
                                </div>

                                <div class="col-12 text-center">
                                    <button class="btn btn-primary rounded-pill py-3 px-5" type="submit"
                                            style="margin-top: 10px; margin-bottom: 20px">Sign up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Footer Start -->
<div style="margin-top: -100px" th:insert="footer :: my-footer"></div>
<!-- Footer End -->

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{lib/wow/wow.min.js}"></script>
<script th:src="@{lib/easing/easing.min.js}"></script>
<script th:src="@{lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{lib/counterup/counterup.min.js}"></script>
<script th:src="@{lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{js/main.js}"></script>

</body>

</html>