<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Smart Auction Guide</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link th:href="@{/img/logo.svg}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Inter:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/lib/bootstrap-icons/bootstrap-icons.css}">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/button/styles/buttons.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">


</head>

<body>

<div class="" th:insert="header :: my-header"></div>


<div class="container">

    <h1  style="text-align: center">OPERATION REGULATIONS ON SMARTAUCTION.COM AUCTION SERVICE PROVIDER WEBSITE</h1>

    <p>*Applicable from: 1/7/2022</p>

    <h4>I. General principles</h4>
    <p>
        - SmartAuction.com e-commerce website is operated and operated by a team of 4 classes java03 fpt software. The target audience is all customers in 63 provinces and cities in Vietnam who have demand for online auctions.<br>- Sản phẩm được kinh doanh tại www.smartAuction.com phải đáp ứng đầy đủ các quy định của pháp luật, không bán hàng nhái, hàng không rõ nguồn gốc, hàng xách tay.
       <br> - Trading activities at smartAuction.com must be done openly, transparently, ensuring the interests of consumers. </p>

    <h4>II. General rules</h4>
    <p>General definition:</p>
    <p>
        The seller is the site owner.<br>
        Buyers are Vietnamese citizens across 63 provinces. The auctioneer has the right to register an account to make transactions. </p>
    <h4>III. Transaction Process</h4>
    <p>For auctioneers at smartAuction.com website</p>
    <p>
        Step 1: Users need to register an account and deposit an amount in their wallet with enough money for auction (User can withdraw whenever they want).
    <br>Step 2: Find the product to be auctioned. <br>Step 3: View the price and details of that product, if you agree to bid, you need to enter the amount you bid (During the auction is taking place) and the amount in your wallet is satisfied (the amount in the wallet must be greater than the auction amount).
    <br>Step 4: At the end of the auction, if the user who is the highest bidder during the auction period is the one who has the product and can see the details in the user's cart.
        If you own a "smartAuction.com Gift Voucher", you scratch the silver layer on the card and enter "Discount Code" in the "Discount Code" box to be deducted directly from the order.
   <br> Step 5: After receiving the buyer's order, smartAuction.com will contact the customer through the phone number you provide to verify the order information.
    <br>Step 6: SmartAuction.com delivers goods to customers' homes or customers come directly to the facility to receive goods.
    </p>
      <p>Shipping process:</p>
    <p>smartAuction.com delivers nationwide. When receiving an order from the buyer and after confirming the purchase information by phone, faucions.com will proceed to deliver the goods at the request of the customer.
        For transactions of smartAuction.com
        smartAuction.com receives complaints through the following forms:</p>
    <p>
        + At the contact website, direct message to the management page.
    <br>  + Via call center to settle complaints: 0123456789 <br>+ By email: daibanggaycanh@gmail.com
     <br>   + Directly at smartAuction fpt complex Nam Ky Khoi Nghia - Hoa Hai - Ngu Hanh Son - Da Nang.
    </p>

    <h4>IV. Payment Process</h4>
    <p>
        + Step 1: The auctioneer learns about the advertised products and services.
        <br>+ Step 2: After registering an account, the auctioneer will be provided with a wallet address.
        <br>+ Step 3: The successful bidder will automatically enter the wallet account.
    </p>

   <h4>V. Ensure transaction safety</h4>
    <p>
        Management has used services to protect information about the content that sellers post  products on smartAuction.com. To ensure successful transactions, minimize risks that may arise.
        Buyers should provide complete information (name, address, phone number, email) when participating in a purchase of smartAuction.com so that faucions.com can quickly contact the buyer in the event of an error.   </p>

   <h4> BECAUSE. Protect customer personal information</h4>
    <p>SmartAuction.com is committed to protecting your privacy. Please read the "Privacy Policy" below to better understand the commitments we make to respect and protect the rights of visitors:</p>
    <p>1. Purpose and scope of collection</p>
    <p>- In order to access and use some services at smartAuction.com, you may be required to register with us personal information (Email, Full Name, Contact Number...). All information declared must be accurate and legal. fauctions.com does not accept any responsibility regarding the law of the declared information. <br>- Chúng tôi cũng có thể thu thập thông tin về số lần viếng thăm, bao gồm số trang bạn xem, số links (liên kết) bạn click và những thông tin khác liên quan đến việc kết nối đến site fauctions.com. Chúng tôi cũng thu thập các thông tin mà trình duyệt Web (Browser) bạn sử dụng mỗi khi truy cập vào thegioididong.com, bao gồm: địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà Browser truy xuất đến.
    </p>
    <p>2. Scope of information use</p>
    <p>smartAuction.com collects and uses your personal information for the appropriate purpose and in full compliance with the content of this “Privacy Policy”.
        Specifically:</p>
    <p>When necessary, we may use this information for the following purposes:</p>
    <p>
        - Order processing: call/text to confirm the order, notify about order status & delivery time, confirm order cancellation (if any). <br> - Gởi thư ngỏ/thư cảm ơn, giới thiệu sản phẩm mới, dịch vụ mới hoặc các chương trình khuyến mãi của smartAuction.com.
        <br> - Send information about product warranty.
        <br>  - Resolve customer complaints.
        <br>  - Award information (of smartAuction.com or the company).
        <br>  - Send information to the financial company to receive, appraise & approve installment payment documents.
        <br>  - Surveys for better customer care.
        <br>   - Confirmation of technical information & customer information security.
        <br> - Cases at the request of competent state agencies, in accordance with the provisions of law.
    </p>

    <p>3. Information storage time</p>
    <p> The Member's personal data will be stored until there is a request to cancel or the member can log in and perform the cancellation. Remaining in all cases personal information of members will be kept confidential on the server of fauctions.com.  </p>
    <p>4. Commitment to protecting customer's personal information</p>
    <p>
        - Customers have the right to request to change or cancel their personal information.<br> - Thông tin cá nhân của thành viên trên smartAuction.com được smartAuction.com cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của Thegioididong.com. Việc thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.
        <br>  - Only use customer information for the content in Section 2. Do not distribute or provide customer information to 3rd parties except for the following cases:
        <br>   + Provide financial companies when customers buy in installments, provide firms to award prizes or other cases when required by competent state agencies.
        <br>  + Provide 3rd parties after customers purchase to send messages to customers with information about products, warranties, service policies, promotions, surveys or confirm technical information & customer information security.
        <br> - We commit to use appropriate management and technical measures to protect the information we collect and store; comply with standards and technical regulations on ensuring network information security. In the event that the information server is attacked by a hacker leading to the loss of member's personal data, Thegioididong.com will be responsible for notifying the incident to the investigating authorities for timely handling and notification. members are known.
        <br>   - Absolute confidentiality of all online transaction information of the Member, including invoice and accounting information, digitized documents in the secure central data area level 1 of fauctions.com. <br>    - Ban quản lý smartAuction.com yêu cầu các cá nhân khi đăng ký/mua hàng là thành viên, phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, số chứng minh nhân dân, điện thoại, số tài khoản, số thẻ thanh toán …., và chịu trách nhiệm về tính pháp lý của những thông tin trên. Ban quản lý fauctions.com không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của Thành viên đó nếu xét thấy tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác

    </p>

</div>











<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<div class="header-spacer"></div>
<div class="" th:insert="footer :: my-footer"></div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
</body>

</html>