<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Register</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link th:href="@{lib/animate/animate.min.css}" rel="stylesheet">
  <link th:href="@{lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link th:href="@{css/style.css}" rel="stylesheet">
</head>


<body>
<div th:insert="header :: my-header"> </div>

<!--    <div id="header" th:fragment="my-header">-->


<!--<section class="ftco-section">-->
<!--    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">-->
<!--        <div class="wrapper wrapper&#45;&#45;w680">-->
<!--            <div class="card card-4">-->
<!--                <div class="card-body">-->
<!--                    <h2 class="title">Registration </h2>-->
<!--                    <form method="POST">-->
<!--                        <div class="row row-space">-->
<!--                            <div class="col-2">-->
<!--                                <div class="input-group">-->
<!--                                    <label class="label">User </label>-->
<!--                                    <input class="input&#45;&#45;style-4" type="text" name="first_name">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <div class="input-group">-->
<!--                                    <label class="label">last name</label>-->
<!--                                    <input class="input&#45;&#45;style-4" type="text" name="last_name">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row row-space">-->
<!--                            <div class="col-2">-->
<!--                                <div class="input-group">-->
<!--                                    <label class="label">Birthday</label>-->
<!--                                    <div class="input-group-icon">-->
<!--                                        <input class="input&#45;&#45;style-4 js-datepicker" type="text" name="birthday">-->
<!--                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <div class="input-group">-->
<!--                                    <label class="label">Gender</label>-->
<!--                                    <div class="p-t-10">-->
<!--                                        <label class="radio-container m-r-45">Male-->
<!--                                            <input type="radio" checked="checked" name="gender">-->
<!--                                            <span class="checkmark"></span>-->
<!--                                        </label>-->
<!--                                        <label class="radio-container">Female-->
<!--                                            <input type="radio" name="gender">-->
<!--                                            <span class="checkmark"></span>-->
<!--                                        </label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row row-space">-->
<!--                            <div class="col-2">-->
<!--                                <div class="input-group">-->
<!--                                    <label class="label">Email</label>-->
<!--                                    <input class="input&#45;&#45;style-4" type="email" name="email">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <div class="input-group">-->
<!--                                    <label class="label">Phone Number</label>-->
<!--                                    <input class="input&#45;&#45;style-4" type="text" name="phone">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="input-group">-->
<!--                            <label class="label">Subject</label>-->
<!--                            <div class="rs-select2 js-select-simple select&#45;&#45;no-search">-->
<!--                                <select name="subject">-->
<!--                                    <option disabled="disabled" selected="selected">Choose option</option>-->
<!--                                    <option>Subject 1</option>-->
<!--                                    <option>Subject 2</option>-->
<!--                                    <option>Subject 3</option>-->
<!--                                </select>-->
<!--                                <div class="select-dropdown"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="p-t-15">-->
<!--                            <button class="btn btn&#45;&#45;radius-2 btn&#45;&#45;blue" type="submit">Submit</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<section class="ftco-section">
  <div class="container">

    <div    class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Register</h3>
          <form action="#" class="signin-form">
            <div class="form-group">
              <p><input type="text" class="form-control" placeholder="Username" required></p>
            </div>
            <div class="form-group">
              <p> <input type="password" class="form-control" placeholder="Password" required></p>
            </div>
            <div class="form-group">
              <!--                            <p> <input type="password" class="form-control" placeholder="Gender" required></p>-->
              <!--                            <select name="Gender">-->
              <!--                                <option disabled="disabled" selected="selected">Gender</option>-->
              <!--                                <option>Male</option>-->
              <!--                                <option>Female</option>-->
              <!--                                <option>Other</option>-->
              <!--                            </select>-->

              <div class="form-group">
                <p> <input type="text" class="form-control" placeholder="FullName" required></p>
                <select name="Gender">
                  <option disabled="disabled" selected="selected">Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
                <p></p>
              </div>
              <div class="form-group">
                <p> <input type="date" class="form-control" placeholder="BirthDay" required></p>
              </div>
              <div class="form-group">
                <p> <input type="email" class="form-control" placeholder="Email" required></p>
              </div>
              <div class="form-group">
                <p> <input type="text" class="form-control" placeholder="Address" required></p>
              </div>
              <div class="form-group">
                <p> <input type="text" class="form-control" placeholder="ID Card" required></p>
              </div>
              <div class="form-group">
                <p> <input type="tel" class="form-control" placeholder="Phone Number" required></p>
              </div>

              <div class="form-group">
                <p> <input type="text" class="form-control" placeholder="Image" required></p>
              </div>
              <div class="form-group">
                <p><button type="submit" class="form-control btn btn-primary rounded submit px-3">Register</button></p>
              </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<div th:insert="footer :: my-footer"> </div>
<!-- Js Plugins -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- Carousel End -->

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{lib/wow/wow.min.js}"></script>
<script th:src="@{lib/easing/easing.min.js}"></script>
<script th:src="@{lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{lib/counterup/counterup.min.js}"></script>
<script th:src="@{lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{js/main.js}"></script>
</body>

</html>